<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vita House - Inventory Management System</title>
    <link href="./assets/image/favicon-96x96.png" rel="icon" type="image/png"/>
    <script src="./assets/js/angular.min.js"></script>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body ng-app="mainApp" ng-controller="inventoryController">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="warehouse.html">Warehouse</a></li>
            <li><a href="index.html">Products</a></li>
        </ul>
        <div class="navbar-form navbar-left">
            <div class="form-group">
                <label style="padding: 3px;" for="sel4">Vita House Warehouse: </label></li>
                <select class="form-control" id="sel4" ng-change="fetch()" ng-model="selectedWarehouse"
                        ng-options="x.name for x in warehouseList"></select>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <main>
        <section class="section pb-0 section-components">
            <!-- Inputs -->
            <h3 class="h4 text-success font-weight-bold mb-4">Inventory</h3>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <label for="sel1">Product</label>
                        <select id="sel1" class="form-control" ng-model="selectedProduct"
                                ng-options="x.productName for x in productList"></select>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <label>Previous Inventory Available</label>
                        <input type="text" placeholder="Inventory Available" ng-model="selectedProduct.inventoryAmt"
                               class="form-control" disabled="true"/>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <label>Received Stock</label>
                        <input type="number" placeholder="Received Stock" ng-model="inventory.receivedStock"
                               class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <label>Issued Stock</label>
                        <input type="number" placeholder="Issued Stock" ng-model="inventory.issuedStock"
                               class="form-control" ng-keydown="calculateNewBalance($event)"/>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <label>New Inventory Balance</label>
                        <label class="form-control" style="background-color: #e9ecef">{{selectedProduct.inventoryAmt
                            +
                            inventory.receivedStock - inventory.issuedStock}}</label>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <label>Comments</label>
                        <textarea ng-model="inventory.comments"
                                  class="form-control"> </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-4">
                        <button ng-click="submit()" ng-disabled="!selectedProduct.id || (!inventory.issuedStock && !inventory.receivedStock)" class="btn btn-primary" type="button">Add</button>
                    </div>
                </div>
            </div>

            <div>
                <h3 class="h4 text-success font-weight-bold mb-4">Inventory List</h3>
                <button class="btn btn-primary" ng-disabled="isAnySelected()" ng-click="remove()">Remove Selected</button>
                <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Warehouse</th>
                        <th>Product</th>
                        <th>Inventory Date</th>
                        <th>Inventory Available</th>
                        <th>Received Stock</th>
                        <th>Issued Stock</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <td colspan=8>
                        <div class="pagination pull-left text-center">

                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">Prev</a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap)"
                                    ng-class="{active: n == currentPage}"
                                    ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Next</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    </tfoot>
                    <tbody>
                    <tr ng-repeat="x in pagedItems[currentPage]">
                        <td>{{$index+1}}.<input type="checkbox" ng-model="x.isDelete"/></td>
                        <td>{{ x.warehouse.name }}</td>
                        <td>{{ x.product.productName }}</td>
                        <td>{{ x.lastTouched | date:'dd-MMM-yy hh:mm a' }}</td>
                        <td>{{ x.inventoryAvailable }}</td>
                        <td>{{ x.receivedStock }}</td>
                        <td>{{ x.issuedStock }}</td>
                        <td>{{ x.comments }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</div>

<script src="./controller/inventory.controller.js"></script>
</body>
</html>